// COMMON
.left-row{
    width: 66.66%; 
    display: inline-block;
}

.left-col{
    margin: 20px 20px 0;

}

.col-75{
    padding: 0 15px;
    width: 85%;
    float: right;
    text-align: justify;
}

.col-full{
    width: 100%;
    padding: 16px 24px;
    border-bottom: 1px solid rgb(223, 222, 222);
}

.col-haft{
    width: 50%;
    float: left;
    // display: inline-block;
    box-sizing: inherit;
}

.right-row{
    width: 33.33%;
    display: block;
    float: right;
}

.right-col{
    margin: 20px 20px 0;
}

.clear{
    clear: both;
}

.open{
    display: block;
}

header{
    background-color: #000;
    color: #fff;
    padding: 16px 24px;
    font-size: 20px;
    border-radius: 6px 6px 0 0;
}

html{
    font-family: oswald, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: auto;
    padding: 8px 0;
    margin-top: -50px;
    background-color: #000;
    box-shadow: 0px 6px 8px #d1d1d1;
    z-index: 100;
    position: fixed;

    &--social{
        padding: 8px 16px;
        color: #ccc;
        display: inline-block;
        justify-content: space-between;
        margin-left: 4px;
    }
    
    &--social:hover{
            background-color: #ccc;
            color: #000;
            border-radius: 5px;
        }

    &--search{
        float: right;
        padding: 8px 16px;
        color: #ccc;
        margin-right: 4px;
    }

    &--search:hover{
        background-color: #ccc;
        color: red;
        border-radius: 5px;
    }
}

.welcome{
    width: 100%;
    margin-top: 50px ;
    padding: 50px;
    line-height: 1.6;

    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        

        & h1{
            font-size: 48px;
        }
    }

    &__disc{
        display: flex;
        justify-content: center;
        align-items: center;
        

        & b{
            background-color: #000;
            color: white;
            border-radius: 5px;
            padding: 4px 8px;
            font-size: 16px;
            margin-left: 2px;
        }
    }
}

.banner{
    
    position: relative;
    background-size: cover ;

    &__img{
        // position: relative;
        border-radius: 6px;
    }

    &__disc{
        color: #fff;
        position: absolute;
        display: inline-block;
        top: 30%;
        left: 15%;

        &--text{
            
            & h1{
                font-size: 3.5rem;
                line-height: 1.4;
                letter-spacing: 4px;

            }

            & p{
                font-size: 3.5rem;
                font-weight: 500;
                letter-spacing: 6px;
            }
        }

        &--button{
            border: none;
            background-color: #888888;
            padding: 12px 24px;
            margin-top: 8px;
            border-radius: 5px;
            font-size: 18px;
            opacity: 0.8;
        }

        &--button:hover{
            background-color: #ccc;
        }
    }
}

.modal{
    display: none;
    background-color: rgba(119, 141, 173, 0.4); 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    

    &__content{
        background-color: #fff;
        width: 65%;
        display: block;
        margin: 16rem auto;
        padding: 32px 48px;
        font-size: 18px;
        border-radius: 6px;
        animation: open  .5s  ease-in;



        &--header{
            display: block;
            font-size: 30px ;
            letter-spacing: 6px;
            padding-bottom: 18px;
            
            & .modal--close{
                display: block;
                float: right;
            }

            & .modal--close:hover{
                color: red;
                cursor: pointer;
            }
        }

        &--disc{
            padding-bottom: 18px;
            letter-spacing: 1px;   

        }

        &--input{
            width: 100%;
            margin-bottom: 18px;

            & input{
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 6px;
            }
        }

        &--button{

            & button{
                width: 100%;
                padding: 12px 24px;
                border: none;
                background-color: red;
                color: #fff;
                letter-spacing: 2px;
                border-radius: 6px;

            }

            & button:hover{
                background-color: #ccc;
                color: #000;
            }
        }
    }
}

.content{
    background-color: #e9e9e9;
    height:auto;

    .left-content{
        line-height: 1.8;
        // padding-bottom: 36px;
        border-radius: 6px;
        padding: 24px 30px 30px;
        background-color: #fff;
        margin-bottom: 44px;


        &__header{
            font-size: 24px;
            text-align: center;
        }

        &__disc{
            font-size: 18px;
            text-align: center;
            opacity: 0.8;
        }

        &__img{
            width: 100%;
            margin: 16px 0;
            border-radius: 6px;

        }

        &__text-header{
            font-size: 16px;
            font-weight: 400;
            border-bottom: 1px solid rgb(241, 233, 233);
        }

        &__text{
            font-weight: 200;
            margin: 8px auto;   
            letter-spacing: 1px;

        }

        &__like-btn{
            background-color: #fff;
            font-size: 15px;
            border: 1px solid rgb(224, 223, 223);
            font-weight: bold;
            padding: 8px 16px;
            border-radius: 6px;

            
            & i{
                color: #000;
            }
        }

        &__like-btn:hover{
            background-color: #ddd;
            color: #000;
        }

        &__replies-btn{
            border: none;
            background-color: #000;
            color: #fff;
            padding: 10px 16px;
            float: right;
            font-weight: bold;
            border-radius: 6px;


            & span{
                padding: 4px 8px;
                background-color: #fff;
                color: #000;
                border-radius: 6px;
            }
        }
        &__replies-btn:hover{
            background-color: #ddd;
            color: #000;
        }
        
        &__comment{
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid rgb(241, 233, 233);
            display: none;
            
            &--img{
                width: 13%;
                display: inline-block;
            }

            &--name{
                display: inline-block;
                font-size: 18px;
            }
        
            &--date{
                margin-left: 4px;
                display: inline-block;
                font-size: 15px;
                opacity: .7;
                font-weight: 200;
            }
            &--text{
                font-weight: 200;
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    }

    .right-content{
        line-height: 1.8;
        // padding-bottom: 36px;
        border-radius: 6px;
        // padding: 24px 30px 30px;
        // background-color: #fff;
        margin-bottom: 44px;

        &__first-tag{
            margin-bottom: 44px;

            & img{
                width: 100%;
                filter: contrast(140%);
                border-radius: 6px 6px 0 0;
            
            }

            &--disc{
                background-color: #000;
                color: #fff;
                line-height: 1.8;
                padding: 16px 24px;
                border-radius: 0 0 6px 6px;

            }

            & h5{
                font-size: 20px;
                border-bottom: 1px solid rgb(170, 170, 170);
                letter-spacing: 3px;
            }

            & p{
                padding: 8px 0;
                font-weight: 300;
                letter-spacing: 1px;

            }

        }

        &__popular-tag{
            background-color: #fff;
            border-radius: 6px;
            margin-bottom: 40px;

            // & header{
            //     background-color: #000;
            //     color: #fff;
            //     padding: 16px 24px;
            //     font-size: 20px;
            //     border-radius: 6px 6px 0 0;
            // }

            & img{
                width: 15%;
                display: inline-block;
            }

            // & img:hover{
            //     transform: scale(2);
            // }

            &__disc{
                display: inline-block;
                margin-left: 16px;
                transform: translateY(-7px);

                & b{
                    font-size: 18px;
                    font-weight: 300;
                }

                & p{
                    font-weight: 300;
                    font-size: 15px;
                }
            }
        }

        &__adv-tag{
            margin-bottom: 40px;
            
            &--img{
                background-color: #fff;
                padding: 24px 24px;
                border-radius: 0 0 6px 6px;

                & img{
                    border-radius: 6px;
                    transition:  transform linear 0.15s;
                    margin: auto;
                }
    
                & img:hover{
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
        
        &__tags-tag{
            margin-bottom: 40px;
            
            &--tag{
                padding: 16px 24px;
                background-color: #fff;
                border-radius: 0 0 6px 6px;

                & li {
                    display: inline-block;
                    background-color: rgb(224, 224, 224);
                    color: #000;
                    font-weight: 200;
                    padding: 0 8px;
                    font-size: 15px;
                    margin-right: 11px;
                    margin-bottom: 11px;
                    border-radius: 6px;
                    letter-spacing: 1px;
                    transition: transform 0.25s linear;
                }

                & li:hover {
                    transform: scale(1.2);
                    background-color: rgb(100, 100, 100);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        &__inspiration-tag{
            margin-bottom: 40px;

            &--img{
                background-color: #fff;
                display: inline-block;
                border-radius: 0 0 6px 6px;
                padding: 16px 24px;
                
                & img{
                    padding: 8px 8px;
                    width: 100%;
                    transition: transform 0.25s linear;
                }

                & img:hover{
                    transform: scale(1.1);
                }
            }
        }

        &__follow-tag{
            margin-bottom: 40px;

            &--social{
                padding: 24px 24px;
                background-color: #fff;
                border-radius: 0 0 6px 6px;

                & i{
                    color: #000;
                    margin-left: 14px;
                    font-size: 24px;
                    transition: transform 0.25s ease-out;
                }

                & i:hover{
                    // color: rgba(204, 204, 204, 1);
                    transform: scale(1.6);
                }

            }
        }

        &__subcribe-tag{
            margin-bottom: 40px;

            &--info{
                padding: 24px 24px;
                background-color: #fff;
                border-radius: 0 0 6px 6px;
                font-size: 18px;

                & p{
                    font-weight: 300;
                    line-height: 1.4;
                    letter-spacing: 1px;
                    margin-bottom: 16px;
                    
                }

                & input{
                    width: 100%;
                    padding: 12px 16px;
                    border: 1px solid #ccc;
                    margin-bottom: 16px;
                    border-radius: 6px;
                    font-size: 16px;
                }

                &  button{
                    width: 100%;
                    padding: 12px 16px;
                    background-color: #f44336;
                    color: #fff;
                    margin-bottom: 16px;
                    border: none;
                    border-radius: 6px;
                    font-size: 16px;
                }
                
                &  button:hover{
                    background-color: red;
                }
            }
        }
    }
}

.footer{
    background-color: #d1d0d0;

    &__button{
        background-color: #f44336;
        color: #fff;
        display: block;
        padding: 16px 24px;
        float: right;
        margin-top: 32px;
        margin-right: 32px;
        border-radius: 6px ;


        & i{
            color: #fff;
        }

        & p{
            display: inline-block;
            color: #fff;
        }
    }

    &__button:hover{
        background-color: red;
        cursor: pointer;
    }

    &__text{
        color: #000;
        display: block;

        & p{
            padding-top: 6.5rem;
            padding-bottom: 1rem;
            font-size: 18px;
            padding-right: 2rem;
            text-align: right;

            & a{
                color: #007ca5;
            }
        }
    }
}





@keyframes open {
    from {
        // transform: translateY(-10rem);
        transform: rotate(360deg);
        opacity: 0;
    }

    to {
        // transform: translateY(0);
        transform: rotate(0);
        opacity: 1;
    }
}



// RESPONSIVE

// TABLET

// @media only screen and (max-width: 1024px) {
//     .left-row{
//         width: 100%;
//         display: block;
//     }

//     .right-row{
//         width: 100%;
//         display: block;
//         float: none;
//     }
//     .footer{
//         display: block;
//     }
    
// }

